@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dancing Script';
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script');
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}