@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}